body {
  background-color: rgb(247, 243, 249);
}
.container {
  display: grid;
  font-family: "DM Sans", sans-serif;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 50px;
}
.create {
  background-color: hsl(31, 66%, 93%);
  color: hsl(0, 0%, 7%);
  grid-column: 1/2;
  grid-row: 1/2;
  height: 70%;
  margin-left: 240px;
  width: 40%;
}
.createtext {
  font-size: 25px;
  font-weight: 550;
  letter-spacing: -2px;
  line-height: 20px;
  padding: 55px 15px 10px;
}
.quicker {
  color: hsl(256, 67%, 59%);
}
.btn {
  background-color: hsl(39, 100%, 71%);
  border-radius: 30px;
  color: hsl(256, 67%, 59%);
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  height: 40px;
  margin-left: 15px;
  width: 120px;
}
.btn:hover {
  background-color: hsl(39, 100%, 71%);
  color: hsl(256, 67%, 59%);
}
.socialmedia {
  background-color: hsl(256, 67%, 59%);
  color: hsl(0, 0%, 100%);
  height: 190px;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-left: 10px;
  padding: 25px;
  text-align: center;
  width: 95%;
}
.socialmediaheader {
  font-size: 40px;
  font-weight: 400;
  margin-top: 10px;
  line-height: 35px;
}
.ten {
  color: hsl(39, 100%, 71%);
}
.socialimg {
  width: 110px;
}
.socialparagraph {
  font-size: 10px;
  opacity: 0.7;
}
.schedule {
  background-color: hsl(254, 88%, 90%);
  color: hsl(0, 0%, 7%);
  grid-column: 3/4;
  grid-row: 1/2;
  height: 101%;
  overflow: hidden;
  margin-left: -5px;
  width: 40%;
}
.scheduleheader {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -1.3px;
  line-height: 17px;
  margin: 20px 0 0 20px;
}
.scheduleimg {
  margin: 15px 0 0 20px;
  width: 220px;
}
.scheduleparagraph {
  font-size: 11px;
  font-weight: 600;
  line-height: 12px;
  padding: 15px 20px 25px 20px;
}
.manage {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 7%);
  grid-column: 2/3;
  grid-row: 1/3;
  height: 160px;
  margin: 210px 0 0 10px;
  overflow: hidden;
  width: 45%;
}
.manageimg {
  height: auto;
  margin: 8px 0 0 15px;

  width: 125%;
}
.manageheader {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -1.2px;
  line-height: 19px;
  margin: 10px 0 0 12px;
}
.maintain {
  background-color: hsl(39, 100%, 71%);
  color: hsl(0, 0%, 7%);
  grid-column: 2/3;
  grid-row: 1/3;
  height: 160px;
  margin: 210px 0 0 208px;
  overflow: hidden;
  padding: 15px;
  width: 45%;
}
.maintaintext {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 18px;
}
.write {
  background-color: hsl(39, 100%, 71%);
  color: hsl(0, 0%, 7%);
  grid-column: 1/2;
  grid-row: 2/4;
  height: 37%;
  margin: -100px 0 0 240px;
  width: 40%;
}
.writeheader {
  font-size: 25px;
  font-weight: 550;
  letter-spacing: -2px;
  line-height: 23px;
  margin-top: 5px;
  padding: 15px;
}
.writeimg {
  height: auto;
  margin: 10px 0 0 15px;
  width: 87%;
}
.growth {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 7%);
  grid-column: 2/3;
  grid-row: 2/4;
  height: 165px;
  margin: 10px 0 0 10px;
  padding: 15px;
  width: 45%;
}
.growthparagraph {
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
}
.growthimg {
  width: 90%;
}
.followers {
  background-color: hsl(256, 67%, 59%);
  color: hsl(0, 0%, 100%);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column: 2/4;
  grid-row: 2/4;
  height: 163px;
  margin: 11px 0 0 210px;
  width: 44%;
}
.followerheader {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 23px;
  margin: 45px 0 0 10px;
}
.followersimg {
  height: auto;
  margin: 15px 0 0 15px;
  width: 150px;
}
.attribution {
  text-align: center;
}
