.container {
  display: grid;
  font-family: "DM Sans", sans-serif;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 50px;
}
.create {
  background-color: hsl(31, 66%, 93%);
  color: hsl(0, 0%, 7%);
  grid-column: 1/2;
  grid-row: 1/2;
  height: 90%;
  width: 40%;
  margin-left: 230px;
}
.createtext {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 20px;
  padding: 40px 15px;
}
.quicker {
  color: hsl(256, 67%, 59%);
}
.btn {
  background-color: hsl(39, 100%, 71%);
  border-radius: 30px;
  color: hsl(256, 67%, 59%);
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  margin-left: 15px;
  width: 120px;
  height: 40px;
}
.socialmedia {
  background-color: hsl(256, 67%, 59%);
  color: hsl(0, 0%, 100%);
  grid-column: 2/3;
  grid-row: 1/2;
  height: 200px;
  text-align: center;
}
.ten {
  color: hsl(39, 100%, 71%);
}
.socialimg {
  width: 110px;
}
.schedule {
  background-color: hsl(254, 88%, 90%);
  color: hsl(0, 0%, 7%);
  grid-column: 3/4;
  grid-row: 1/2;
  height: 135%;
  width: 40%;
  margin-left: 5px;
  overflow: hidden;
}
.manage {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 7%);
  grid-column: 2/3;
  grid-row: 1/3;
  height: 200px;
  width: 50%;
  margin-top: 220px;
}
.maintain {
  background-color: hsl(39, 100%, 71%);
  color: hsl(0, 0%, 7%);
  grid-column: 2/3;
  grid-row: 1/3;
  height: 200px;
  width: 50%;
  margin-left: 200px;
  margin-top: 220px;
  overflow: hidden;
}

.write {
  background-color: hsl(39, 100%, 71%);
  color: hsl(0, 0%, 7%);
  grid-column: 1/2;
  grid-row: 2/4;
  height: 50%;
  width: 40%;
  margin-left: 230px;
  margin-top: -20px;
}
.growth {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 7%);
  grid-column: 2/3;
  grid-row: 2/4;
  height: 200px;
  width: 50%;
  margin-top: 125px;
}
.followers {
  background-color: hsl(256, 67%, 59%);
  color: hsl(0, 0%, 100%);
  grid-column: 2/4;
  grid-row: 2/4;
  height: 170px;
  width: 47%;
  margin-left: 200px;
  margin-top: 120px;
}
.followersimg {
  width: 150px;
}
